<div id="title-page">
    <h2>CREATE YOUR ACCOUNT</h2>
</div>
<div class="container">
    <!-- breadcrumb -->
    <div class="row" style="width: 55%; margin-left: 23%;">
      <div class="col-sm-6" style="top: 60px;">
        <hr class="line-active">
      </div>
      <div class="col-sm-6" style="top: 60px;">
          <hr class="line-active">
      </div>
      <div class="col-sm col-md bc-item" style="right: 11.5%;">
          <a href="#" class="link-breadcrumd-active icon-progerss-active" routerLink="/user-profile" routerLinkActive="active">
              <img src="../../assets/img/user-profile-white.png" style="margin-top: 18px;" alt="user-profile" width="30px" height="30px">
          </a>
          <p class="text-progress-active"><b>User Profile</b></p>
      </div>
      <div class="col-sm col-md bc-item">
        <a href="#" class="link-breadcrumd-active icon-progerss-active">
          <img src="../../assets/img/user details-white.png" style="margin-top: 20px;" alt="user-details" width="30px" height="30px">
        </a>
        <p class="text-progress-active"><b>User Detail</b></p>
      </div>
      <div class="col-sm col-md bc-item" style="left: 11.5%;">
          <a href="#" class="link-breadcrumd-active icon-progerss-active">
              <img src="../../assets/img/checked-white.png" style="margin-top: 20px;" alt="Complete" width="30px" height="30px">
          </a>
          <p class="text-progress-active"><b>Complete</b> </p>
      </div>
    </div>
      <div id="bg-contai-endding">
        <div id="center">
          <img src="../../assets/img/complete.png" alt="complete" height="300" width="300">
          <h3 style="margin-left: 10%">Register Complete!</h3>
        </div>
      </div>
  </div>

  <br><br><br>
  <!-- End Container -->
    <div id="footer-bar">
      <h4>copyrigth2019</h4>
    </div>
