<div id="title-page">
    <h2>CREATE YOUR ACCOUNT</h2>
</div>
<div class="container">
    <!-- breadcrumb -->
    <div class="row" style="width: 75%; margin-left: 13%">
        <div class="col-sm-6" style="top: 60px;">
          <hr class="line-active">
        </div>
        <div class="col-sm-6" style="top: 60px;">
            <hr class="line-active">
        </div>
        <div class="col-sm col-md bc-item" style="right: 11.5%;">
            <a class="link-breadcrumd-active icon-progerss-active" routerLink="/user-profile" routerLinkActive="active">
                <img src="../../assets/img/user-profile-white.png" style="margin-top: 20px;" alt="user-profile" width="35px" height="35px">
              <p style="margin-top: 30px;"><b> User Profile</b></p>
            </a>
        </div>
        <div class="col-sm col-md bc-item">
          <a href="#" class="link-breadcrumd-active  icon-progerss-active " routerLink="/user-details" routerLinkActive="active">
            <img src="../../assets/img/user details-white.png" style="margin-top: 20px;" alt="user-details" width="35px" height="35px">
            <p style="margin-top: 30px;" ><b> User Detail</b></p>
          </a>
        </div>
        <div class="col-sm col-md bc-item" style="left: 11.5%;">
            <a href="#" class="link-breadcrumd-active icon-progerss-active" routerLink="/Complete" routerLinkActive="active">
                <img src="../../assets/img/checked-white.png" style="margin-top: 20px;" alt="Complete" width="35px" height="35px">
                <p style="margin-top: 30px;"><b>Complete</b> </p>
            </a>
        </div>
      </div>
      <br>
      <div id="bg-contai-endding">
        <div id="center">
          <img src="../../assets/img/complete.png" alt="complete" height="300" width="300" style="margin-left: 17%">
          <h3 style="margin-left: 23%">Register Complete!</h3>
        </div>
      </div>
  </div>

  <br><br><br>
  <!-- End Container -->
    <div id="footer-bar">
      <h4>copyrigth2019</h4>
    </div>
