
/* title */
#title-page{
  text-align: center;
  color: #CC5D36;
  padding-top: 5%;
  padding-bottom: 3%;
  padding: 0%;
  margin: 0%;
  padding-top: 12%;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: normal;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
/* end title */

.text-progress{
  color: rgb(148, 147, 147);
  font-size: 14px;
}

.text-progress-active{
  color: #CC5D36;
  font-size: 14px;
}

.icon-progerss{
  height: 70px;
  width:  70px;
  background-color: rgb(148, 147, 147);
  border-radius: 50%;
  display: inline-block;
}

.icon-progerss-active{
  height:  70px;
  width:  70px;
  background-color: #FF8041;
  border-radius: 50%;
  display: inline-block;
  border-style: solid;
  border-color: #CC5D36;
  border-width:3px;
}

/* breadcrumb*/
.line{
  border: 3px solid rgb(148, 147, 147);
  border-radius: 5px;
  z-index: -1;
}

.line-active{
  border: 3px solid chocolate;
  border-radius: 5px;
  z-index: -1;
}

.bc-item{
  text-align: center;
  z-index: 100;
}

.breadcrumb{
  background-color: #ffffff !important;
}
.line-icon{
  color: chocolate;
  border-top: 1px solid chocolate;
  border-width: 10px;
  display: block;
  margin-top: 45px;
  z-index: 999;
}
.line-icon-back{
  color: rgb(148, 147, 147);
  border-top: 1px solid rgb(148, 147, 147);
  border-width: 10px;
  display: block;
  margin-top: 45px;
}
.link-breadcrumd{
  color: rgb(158, 156, 155);
  text-shadow: 1px 1px 1px #ccc;
  font-size: 0.8em;
  pointer-events: none;
  cursor: default;
  text-align: center;
}

.link-breadcrumd-active{
  color: chocolate;
  text-shadow: 1px 1px 1px #ccc;
  font-size: 0.8em;
  text-align: center;
}
/* end breadcrumd */
/* form */
.bg-form{
  background-color: #ffffff;
  padding-top: 2.5%;
  padding-right: 5%;
  padding-left: 5%;
  padding-bottom: 2.5%;
  width: 60%;
  border: 1px solid #CC5D36;
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
  border-color: #CC5D36 ;
  background-color: #CC5D36 !important;
}

.btn-warning{
  background: rgba(255, 124, 78, 0.17);
  border: 1px solid #CC5D36;
  box-sizing: border-box;
  border-radius: 5px;
  width: 300px;
}
.text-img{
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: normal;
  color: #8E8D8F;
  margin-bottom: 2.5%;
}
/* End form */
/* footer */
#footer-bar{
  background-color: #FF7C4E;
  height: 1.5%;
  text-align: center;
  padding-top: 0.5%;
}
/* End footer */

/* visible button */
#tag{
  margin-right: 5px;
  background-color: #CC5D36;
  height: 1%;
  text-align: center;
}

.textleft{
  text-align: left;
}

.responsive {
  width: 100%;
  height: auto;
}

#inputskill.ng-touched.ng-valid{
  border: solid 1px red !important;
}

input.ng-invalid.ng-touched {
  border: solid 1px red;
}
textarea.ng-invalid.ng-touched {
  border: solid 1px red;
}
select.ng-pristine.ng-touched{
  border: solid 1px red;
}
input.ng-touched.ng-valid{
  border: solid 1px green;
}
.help-block{
  color: red;
}
.delformpj{
  background-color: #ffffff;
  border-bottom-color: #ffffff;
}

