<nav class="navbar navbar-expand-sm bg-light" style="padding:0%">
  <a class="navbar-brand" href="#"><img src="../assets/img/logokmos.png" alt="kmos" height="50px"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample01" aria-controls="navbarsExample01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExample01">
    <!-- <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/user-profile" routerLinkActive="active">User-Profile <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/user-details" routerLinkActive="active">User-details</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/Complete" routerLinkActive="active">Complete</a>
      </li>
    </ul> -->
  </div>
</nav>
<hr id="hr-nav">
  <!-- title -->
<div class="img-bg">
  <router-outlet></router-outlet>
</div>



