<div id="empty"><br></div>
<div class="container bg-form" >
    <h2>Check Your Email Adress</h2>
    <form name="emailform" #emailform="ngForm">
      <div class="form-group row">
          <input type="email" name="EMAIL" [(ngModel)]="model.EMAIL" #EMAIL="ngModel" class="form-control" id="inputEmail" placeholder="Email" required email>
          <span class="help-block" *ngIf="!EMAIL.valid && EMAIL.touched">Please enter a valid email!</span>
      </div>
      <div class="row">
        <button type="button" class="btn btn-secondary" id="btn-cencle">cancel</button>
        <button type="button" [disabled]="!emailform.valid" (click)="sentmail()" data-toggle="modal" data-target="#exampleModal" class="btn btn-primary float-right">enter</button>
      </div>
    </form>
    <!-- model -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <img src="../../assets/img/email-noti.svg" alt="email">
            <p>Please confirm your username and password in email to activate your account <br></p>
            <button type="button" [disabled]="distance > 0" (click)="sentmail()" class="btn btn-primary">Resend</button><br><br>
            <p>Resend email again <strong id="demo"></strong> seconds.</p>
          </div>
        </div>
      </div>
    </div>
</div>
<img src="../../assets/img/footer-regis-2.png" class="responsive" alt="footer">
<div id="footer-bar">
    <h4>copyrigth2019</h4>
</div>
