
<div class="container">
  <!-- breadcrumb -->
  <div class="row" style="width: 75%; margin-left: 13%">
    <div class="col-sm-6" style="top: 60px;">
      <hr class="line">
    </div>
    <div class="col-sm-6" style="top: 60px;">
        <hr class="line">
    </div>
    <div class="col-sm col-md bc-item" style="right: 11.5%;">
        <a href="#" class="link-breadcrumd-active icon-progerss-active" routerLink="/user-profile" routerLinkActive="active">
            <img src="../../assets/img/user-profile-white.png" style="margin-top: 20px;" alt="user-profile" width="35px" height="35px">
          <p style="margin-top: 30px;"><b> User Profile</b></p>
        </a>
    </div>
    <div class="col-sm col-md bc-item">
      <a href="#" class="link-breadcrumd icon-progerss">
        <img src="../../assets/img/user details-white.png" style="margin-top: 20px;" alt="user-details" width="35px" height="35px">
        <p style="margin-top: 30px;" ><b> User Detail</b></p>
      </a>
    </div>
    <div class="col-sm col-md bc-item" style="left: 11.5%;">
        <a href="#" class="link-breadcrumd icon-progerss">
            <img src="../../assets/img/checked-white.png" style="margin-top: 20px;" alt="Complete" width="35px" height="35px">
            <p style="margin-top: 30px;"><b>Complete</b> </p>
        </a>
    </div>
  </div>
    <br>
    <!-- from -->

    <div class="container" id="bg-form" style="width: 80%">
        <form name="form" (ngSubmit)="UserForm.form.valid && onSubmit()" #UserForm="ngForm">
            <div class="form-group row">
              <label for="inputEmail" class="col-sm-2 col-form-label"><b>Email :</b></label>
              <div class="col-sm-4">
                <input type="email" name="email" [(ngModel)]="model.email" #email="ngModel" class="form-control" id="inputEmail" placeholder="Email" required email>
                <span class="help-block" *ngIf="!email.valid && email.touched">Please enter a valid email!</span>
              </div>
            </div>
            <div class="form-group row">
              <label for="inputTitle" class="col-sm-2 col-form-label"> <b>Title :</b> </label>
              <div class="col-sm-3">
                  <select class="form-control form-control-sm" name="title" [(ngModel)]="model.title" required>
                      <option disabled value="empty">SELETE YOUR TITLE</option>
                      <option value="mr">MR</option>
                      <option value="mrs">MRS</option>
                  </select>
              </div>
            </div>
            <div class="form-group row">
                <label for="inputName" class="col-sm-2 col-form-label"><b>Name :</b> </label>
                <div class="col-sm-4">
                  <input type="text" name="name" [(ngModel)]="model.name" class="form-control" id="inputName" placeholder="Name" required>
                </div>

                <label for="inputSurname" class="col-sm-2 col-form-label"><b>Surname :</b> </label>
                <div class="col-sm-4">
                  <input type="text" name="sername" [(ngModel)]="model.sername" class="form-control" id="inputSurname" placeholder="Surname" required>
                </div>
            </div>
            <div class="form-group row">
                <label for="inputGender" class="col-sm-2 col-form-label"><b>Gender :</b> </label>
                <div class="col-sm-4">
                    <div class="form-check">
                      <input class="form-check-input" type="radio" [(ngModel)]="model.gender"  name="gridRadios" id="gridRadios1" value="Male" checked>
                      <label class="form-check-label" for="gridRadios1">
                       <b>Male</b>
                      </label>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" [(ngModel)]="model.gender" name="gridRadios" id="gridRadios2" value="Female">
                        <label class="form-check-label" for="gridRadios2">
                         <b>Female</b>
                      </label>
                    </div>
                </div>
              </div>
              <div class="form-group row">
                <label for="inputPhone" class="col-sm-3 col-form-label"><b>Mobile Phone:</b> </label>
                <div class="col-sm-4" style="right: 8%;">
                  <input type="tel" name="phone" (keypress)="numberOnly($event)" [(ngModel)]="model.phone" class="form-control" id="inputPhone" placeholder="0xxxxxxxx" maxlength="10" required>
                </div>
              </div>
              <div class="form-group row">
                  <label for="inputAddress" class="col-sm-2 col-form-label"><b> Address :</b></label>
                  <div class="col-sm-10">
                      <textarea name="address" class="form-control" [(ngModel)]="model.address" id="inputAddress" maxlength="100" rows="3" required></textarea>
                  </div>
                </div>
          </form>
    </div>
    <br>
    <div class="form-group row">
        <div class="col-sm-11" >
          <button type="submit" [disabled]="!UserForm.valid" (click)="sw()" class="btn btn-primary float-right" routerLink="/user-details" routerLinkActive="active">Continue</button>
        </div>
      </div>
    <!-- End form -->
</div>
<br>
<!-- End Container -->
  <div id="footer-bar">
    <h4>copyrigth2019</h4>
  </div>




