body{
  background-image: url('../../85649.jpg');
}
/* title */
#resize{
  width: 100%;
  height: 200px;
}


#title-page{
  text-align: center;
  color: chocolate;
  padding-top: 5%;
  padding-bottom: 3%;
  padding: 0%;
  margin: 0%;
  position: absolute;
  left: 50%;
  top: 25%;
  transform: translate(-50%, -50%);
}

/* end title */

.icon-progerss{
  height: 80px;
  width:  80px;
  background-color: rgb(148, 147, 147);
  border-radius: 50%;
  display: inline-block;
}

.icon-progerss-active{
  height:  80px;
  width:  80px;
  background-color: #FF8041;
  border-radius: 50%;
  display: inline-block;
  border-style: solid;
  border-color: #CC5D36;
  border-width:3px;
}

/* breadcrumb*/
.line{
  border: 3px solid rgb(148, 147, 147);
  border-radius: 5px;
  z-index: -1;
}

.line-active{
  border: 3px solid chocolate;
  border-radius: 5px;
  z-index: -1;
}

.bc-item{
  text-align: center;
  z-index: 100;
}

.breadcrumb{
  background-color: #ffffff !important;
}
.line-icon{
  color: chocolate;
  border-top: 1px solid chocolate;
  border-width: 10px;
  display: block;
  margin-top: 45px;
  z-index: 999;
}
.line-icon-back{
  color: rgb(148, 147, 147);
  border-top: 1px solid rgb(148, 147, 147);
  border-width: 10px;
  display: block;
  margin-top: 45px;
}
.link-breadcrumd{
  color: rgb(158, 156, 155);
  text-shadow: 1px 1px 1px #ccc;
  font-size: 0.8em;
  pointer-events: none;
  cursor: default;
  text-align: center;
}

.link-breadcrumd-active{
  color: chocolate;
  text-shadow: 1px 1px 1px #ccc;
  font-size: 0.8em;
  text-align: center;
}
/* end breadcrumd */
/* form */
#bg-form{
  background-color: #ffffff;
  /* border-style: solid;
  border-color: #616060; */
  padding-top: 3%;
  padding-right: 5%;
  padding-left: 5%;
  padding-bottom: 1%;
  border: 1px solid #CC5D36;
  box-sizing: border-box;
  border-radius: 5px;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
  background-color: #CC5D36 !important;
}
/* End form */
/* footer */
#footer-bar{
  background-color: #FF7C4E;
  height: 1.5%;
  text-align: center;
  padding-top: 0.5%;
}
/* End footer */

.responsive {
  width: 100%;
  height: auto;
}


input.ng-invalid.ng-touched {
  border: solid 1px red;
}
textarea.ng-invalid.ng-touched {
  border: solid 1px red;
}
.help-block{
  color: red;
}


