
/* title */
#resize{
  width: 100%;
  height: 200px;
}

/* end title */
.icon-progerss{
  height: 70px;
  width:  70px;
  background-color: rgb(148, 147, 147);
  border-radius: 50%;
  display: inline-block;
}
.text-progress{
  color: rgb(148, 147, 147);
  font-size: 14px;
}

.text-progress-active{
  color: #CC5D36;
  font-size: 14px;
}

.icon-progerss-active{
  height:  70px;
  width:  70px;
  background-color: #FF8041;
  border-radius: 50%;
  display: inline-block;
  border-style: solid;
  border-color: #CC5D36;
  border-width:3px;
}

/* breadcrumb*/
.line{
  border: 3px solid rgb(148, 147, 147);
  border-radius: 5px;
  z-index: -1;
}

.line-active{
  border: 3px solid chocolate;
  border-radius: 5px;
  z-index: -1;
}

.bc-item{
  text-align: center;
  z-index: 100;
}

.breadcrumb{
  background-color: #ffffff !important;
}
.line-icon{
  color: chocolate;
  border-top: 1px solid chocolate;
  border-width: 10px;
  display: block;
  margin-top: 45px;
  z-index: 999;
}
.line-icon-back{
  color: rgb(148, 147, 147);
  border-top: 1px solid rgb(148, 147, 147);
  border-width: 10px;
  display: block;
  margin-top: 45px;
}
.link-breadcrumd{
  color: rgb(158, 156, 155);
  text-shadow: 1px 1px 1px #ccc;
  font-size: 0.8em;
  pointer-events: none;
  cursor: default;
  text-align: center;
}

.link-breadcrumd-active{
  color: chocolate;
  text-shadow: 1px 1px 1px #ccc;
  font-size: 0.8em;
  text-align: center;
}
/* end breadcrumd */
/* form */
#bg-form{
  background-color: #ffffff;
  /* border-style: solid;
  border-color: #616060; */
  padding-top: 3%;
  padding-right: 5%;
  padding-left: 5%;
  padding-bottom: 1%;
  border: 1px solid #CC5D36;
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
  background-color: #CC5D36 !important;
}
/* End form */
/* footer */
#footer-bar{
  background-color: #FF7C4E;
  height: 1.5%;
  text-align: center;
  padding-top: 0.5%;
}
/* End footer */

.responsive {
  width: 100%;
  height: auto;
}

input.ng-invalid.ng-touched {
  border: solid 1px red;
}
input.ng-touched.ng-valid{
  border: solid 1px green;
}
textarea.ng-invalid.ng-touched {
  border: solid 1px red;
}
textarea.ng-valid {
  border: solid 1px green;
}
select.ng-invalid.ng-touched{
  border: solid 1px red;
}
select.ng-valid{
  border: solid 1px green;
}
.help-block{
  color: red;
}
#title-page{
  text-align: center;
  color: #CC5D36;
  padding-top: 5%;
  padding-bottom: 3%;
  padding: 0%;
  margin: 0%;
  padding-top: 12%;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: normal;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.col-form-label{
  padding-top: 0% !important;
  padding-bottom: 0% !important;
}
#inputPhone{
  margin-left: 15%;
}


